.App {
  font-family: Arial, sans-serif;
  height: 100vh; /* Ensure the app takes the full viewport height */
  display: flex; /* Use flex layout to manage content */
  flex-direction: column;
}

.quiz-container {
  display: flex;
  flex: 1; /* Take up the remaining vertical space */
  overflow: hidden; /* Prevent scrolling outside of the container */
}

.sidebar {
  width: 300px; /* Fixed width for the sidebar */
  position: relative;
  overflow-y: auto;
  padding: 10px;
  border-right: 2px solid #ddd;
  background-color: #f9f9f9;
}

.main-content {
  flex: 1; /* Flexible: occupies remaining space */
  padding: 20px;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

h1 {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navigation {
  margin-top: 20px;
}

.submit-all {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.questions-list {
  margin-top: 20px;
}

.questions-list ul {
  list-style-type: none;
  padding: 0;
}

.questions-list li {
  padding: 10px;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  cursor: pointer;
}

.questions-list li:hover {
  background-color: #e0e0e0;
}

.question-item {
  cursor: pointer;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 5px;
  border-radius: 4px;
}

.question-item:hover {
  background-color: #f0f0f0;
}

/* Highlight for currently selected question */
.questions-list li.highlight {
  background-color: yellow;
  font-weight: bold;
  border: 1px solid orange;
}

.summary {
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: 20px;
}

.summary pre {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.login-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form div {
  margin-bottom: 15px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* Background color for answered questions */
.questions-list .answered {
  background-color: #d4edda !important; /* Green background for answered questions */
  border: 1px solid #c3e6cb;
}

/* Background color for unanswered questions */
.questions-list .unanswered {
  background-color: #f8d7da !important; /* Red background for unanswered questions */
  border: 1px solid #f5c6cb;
}

/* styles.css */
.header {
  background-color: hsl(209, 54%, 46%);
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  margin-right: 10px;
}

